@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* PRIMARY */
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  /* ACCENT */
  --blue: hsl(248, 32%, 49%);

  /* NEUTRAL */
  --dark-blue: hsl(249, 10%, 26%);
  --grayish: hsl(246, 25%, 77%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--red);
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 8.25rem 16.5rem;
  position: relative;
}

.main {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.main > * {
  flex: 50%;
}

.left {
  color: var(--white);
}

.heading-main {
  font-size: 4.9rem;
  line-height: 1.2;
  margin-bottom: 2.5rem;
}

.intro-main {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* RIGHT SECTION */
.right > p:first-of-type {
  background-color: var(--blue);
  margin-bottom: 2.5rem;
  padding: 1.8rem;
  color: var(--white);
  text-align: center;
  border-radius: 0.75rem;
  font-size: 1.55rem;
  font-weight: bold;
}

.right > p:first-of-type span {
  font-weight: 100;
}

.form {
  background-color: var(--white);
  padding: 4rem;
  border-radius: 0.75rem;
}

.input-wrapper {
  margin-bottom: 2rem;
}

.input-wrapper input {
  padding: 1.8rem 3rem;
  border-radius: 0.5rem;
  border: 2px solid hsl(246, 25%, 77%, 0.5);
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 0.25rem;
}

.input-wrapper input::placeholder {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.5rem;
}

.input-wrapper input:focus {
  border: 2px solid hsl(0, 0%, 50%);
  outline: none;
}

.input-wrapper input.error {
  border: 2px solid var(--red);
  /* position: relative; */
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 3rem) center;
  padding-right: 2.5em; /* Adjust padding to accommodate the icon */
}

.input-wrapper input.error::placeholder {
  color: transparent;
}

.input-wrapper input.error-input::placeholder {
  color: var(--red);
  text-transform: lowercase;
}

.input-wrapper input.error::after {
  content: url(./images/icon-error.svg);
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
}

.error-msg {
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
  color: var(--red);
  font-style: italic;
  display: none;
}

.btn-submit {
  background-color: var(--green);
  border: none;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 97%);
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  padding: 1.8rem 3rem;
  width: 100%;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: 0.4s ease;
  box-shadow: 0 0.2rem 0rem 0rem hsl(154, 59%, 43%);
}

.btn-submit:hover {
  background-color: hsl(154, 59%, 47%);
}

.form > p {
  color: var(--grayish);
  font-size: 1.1rem;
  text-align: center;
}

.form > p a {
  text-decoration: none;
  color: var(--red);
  font-weight: bold;
}
.form > p a:hover {
  text-decoration: underline;
}

/* MESSAGE */
.message {
  position: fixed;
  left: 50%;
  top: -40%;
  transform: translateX(-50%);
  background-color: var(--green);
  max-width: 25rem;
  padding: 2rem;
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.05);
  text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  /* animation: messageAnimation 5s ease-in 0.75s; */
}

@keyframes messageAnimation {
  0% {
    top: -50%;
  }
  25% {
    top: -1.25%;
  }
  85% {
    top: -1.25%;
  }
  100% {
    top: -50%;
  }
}

@media (max-width: 75em) {
  body {
    padding: 4rem 8rem;
  }
}

@media (max-width: 59.375em) {
  body {
    padding: 4rem;
  }

  .heading-main {
    font-size: 4.4rem;
  }

  .form {
    padding: 2.5rem;
  }
}

@media (max-width: 53.125em) {
  .main {
    flex-flow: column;
    gap: 6rem;
  }

  .main > * {
    width: 100%;
  }

  .left {
    text-align: center;
  }

  .heading-main {
    max-width: 55rem;
    margin: 0 auto 2.5rem;
  }

  .intro-main {
    max-width: 55rem;
  }
}

@media (max-width: 31.125em) {
  body {
    padding: 7.5rem 2.5rem;
  }

  .heading-main {
    font-size: 3.6rem;
  }
}
